<ion-modal-view>
      <ion-header-bar class="bar bar-header bar-energized">
        <h1 class="title">What's Happening?</h1>
        <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
      </ion-header-bar>
      <ion-content class="padding">



        <div class="list list-inset">
          <textarea rows="10"></textarea>

          <button class="button button-full button-energized" ng-click="createContact(newUser)">Post</button>
        </div>
      </ion-content>
    </ion-modal-view>
