<ion-view title="PowerUps Edit">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">What</span>
                <input type="text" placeholder="" ng-model="film.title">
            </label>
            <label class="item item-input">
                <span class="input-label">How</span><textarea placeholder="">{{film.crawl}}</textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Relative Day</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <button id="powerUpsEdit-button4" class="button button-stable  button-block">Save</button>
        <button id="powerUpsEdit-button5" class="button button-stable  button-block">Delete</button>
    </ion-content>
</ion-view>