<ion-view title="Quest" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="quest-list-item-container1">
            <h1 id="quest-heading1" style="color:#000000;text-align:center;" class=" ">Quest Title</h1>
            <ion-list id="quest-list7" class=" ">
                <ion-item class="item-thumbnail-left  " id="quest-list-item13"></ion-item>
            </ion-list>
        </div>
        <div id="quest-button-bar2" class=" button-bar ">
            <button id="quest-button12" class=" button button-positive  button-block ">PowerUps</button>
            <a ui-sref="menu.questActivity" id="quest-button13" class=" button button-positive  button-block ">Activity</a>
        </div>
        <p id="quest-markdown1" style="color:#000000;" class=" ">
            <strong>Quest</strong>description</p>
        <button id="quest-button15" class=" button button-positive  button-block ">Join Quest</button>
        <ion-list id="quest-list3" class=" ">
            <ion-item class="item-icon-left  " id="quest-list-item14">
                <i class="icon ion-images"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="quest-list-item16">
                <i class="icon ion-image"></i>Item</ion-item>
            <ion-item class="item-icon-left  " id="quest-list-item15">
                <i class="icon ion-ios-star-outline"></i>Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>