<ion-view title="Quest - Activity" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="questActivity-list8" class=" ">
            <ion-item id="questActivity-list-item17" class="  ">Item 1</ion-item>
            <ion-item id="questActivity-list-item18" class="  ">Item 2</ion-item>
            <ion-item id="questActivity-list-item19" class="  ">Item 3</ion-item>
        </ion-list>
        <ion-list id="questActivity-list9" class=" ">
            <ion-item id="questActivity-list-item20" class="  ">Item 4</ion-item>
            <ion-item id="questActivity-list-item21" class="  ">Item 5</ion-item>
            <ion-item id="questActivity-list-item22" class="  ">Item 6</ion-item>
        </ion-list>
    </ion-content>
</ion-view>