<ion-view title="Quest - Join" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="questJoin-list-item-container1">
            <ion-list id="questJoin-list7" class=" ">
                <ion-item class="item-icon-right  " id="questJoin-list-item13">{{questJoin.title}}
                    <i class="icon ion-leaf"></i>
                </ion-item>
            </ion-list>
            <div id="questJoin-button-bar2" class=" button-bar ">
                <button ng-click="questJoin.selectQuestPowerups(questJoin.id)"  id="questJoin-button12" class=" button button-positive  button-block ">PowerUps</button>
                <!--<a href="#" onclick="window.open('page6', '_system', 'location=yes'); return false;" id="questJoin-button13" class=" button button-positive  button-block ">Activity</a>-->
<a ui-sref="menu.questActivity" id="questJoin-button37" class="button button-positive  button-block">Activity</a>
            </div>
            <div id="questJoin-button-bar5" class=" button-bar ">
                <button id="questJoin-button26" class=" button button-light  button-block "></button>
                <button id="questJoin-button27" class=" button button-light  button-block "></button>
                <a ng-click="questJoin.joinQuest(questJoin.id, questJoin.title, questJoin.description, questJoin.how)" id="questJoin-button28" class=" button button-light  button-block icon-right ion-android-arrow-forward ">Join</a>
            </div>
            <div id="questJoin-button-bar4" class=" button-bar "></div>
<div class="list card" ng-repeat="item in questJoin.items track by $index">
            <ion-item class="item-icon-left" id="questActivity-list-item14">
                <i class="icon"></i>{{item.title}} - {{item.description}}</ion-item>
</div>
        </div>
    </ion-content>
</ion-view>