<ion-view title="Quest Exit - Confirm" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="questExitConfirm-list-item-container3">
            <ion-list id="questExitConfirm-list14" class=" ">
                <ion-item class="item-icon-right  " id="questExitConfirm-list-item33">Exit Onboarding?
                    <i class="icon ion-leaf"></i>
                </ion-item>
            </ion-list>
            <div id="questExitConfirm-button-bar9" class=" button-bar "></div>
            <div id="questExitConfirm-button-bar10" class=" button-bar ">
                <button id="questExitConfirm-button34" class=" button button-light  button-block "></button>
                <button id="questExitConfirm-button35" class=" button button-light  button-block "></button>
                <a ui-sref="menu.questHome" id="questExitConfirm-button36" class=" button button-light  button-block icon-right ion-android-checkbox-outline ">Yes</a>
            </div>
            <div id="questExitConfirm-button-bar11" class=" button-bar "></div>
        </div>
    </ion-content>
</ion-view>