<ion-view cache-view=“false” title="Wall ({{wall.items.length}}) - {{wall.email}}" id="page7" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-refresher on-refresh="wall.reload()"></ion-refresher>
        <div>{{wall.processingMessage}}</div>
        <button class="button button-energized"
          ng-click="openModal()"
          id="wall-button11"
          style="font-size:-4px;width:100%;"
          class="button button-positive button-full button-block button-outline icon-right ion-edit">
          What's Happening?
        </button>
    
        <div ng-repeat="item in wall.items" ng-if="$index % 2 === 0">
            <div class="row" ng-if="$index < wall.items.length">
                <ion-item ng-style="wall.getStyle(item)" class="item-avatar item-icon-right item-text-wrap">
                    <img class="item-text-wrap" ng-src="{{wall.getOwnerAvatar(item.ownerName)}}">
                    <h2>{{item.ownerName}}</h2>
                    <p><time>{{ item.createdat | amCalendar }}</time></p>
                    <p>{{item.text}}</p>
                    <button ng-if="wall.isTopicOwner(item)" ng-click="openModal(item)" class="wall-reply button button-icon icon icon-right ion-reply"></button>
                </ion-item>
            </div>
            <div class="row" ng-if="$index + 1 < wall.items.length">
                <ion-item>
                    <i ng-click="wall.saveLike(this, $index)"  ng-class="wall.getStyleByFlagState(item, $index)">
                        <span ng-show="item.likecount == 1" class="subdued" >{{item.likecount>0?item.likecount+' like':''}}</span><span ng-show="item.likecount > 1" class="subdued">{{item.likecount>0?item.likecount+' likes':''}}</span>
                    </i>
                </ion-item>
            </div>
        </div>

        <!--<div collection-repeat="item in wall.items track by $index">-->
        <!--  <div class="list card">-->
        <!--    <ion-item ng-style="wall.getStyle(item)" class="item-avatar item-icon-right item-text-wrap">-->
        <!--        <img class="item-text-wrap" ng-src="{{wall.getOwnerAvatar(item.ownerName)}}">-->
        <!--        <h2>{{item.ownerName}}</h2>-->
        <!--        <p><time>{{ item.createdat | amCalendar }}</time></p>-->
        <!--        <p>{{item.text}}</p>-->
        <!--        <button ng-if="wall.isTopicOwner(item)" ng-click="openModal(item)" class="wall-reply button button-icon icon icon-right ion-reply"></button>-->
        <!--    </ion-item>-->
        <!--    <ion-item>-->
        <!--        <i ng-click="wall.saveLike(this, $index)"  ng-class="wall.getStyleByFlagState(item, $index)">-->
        <!--            <span ng-show="item.likecount == 1" class="subdued" >{{item.likecount>0?item.likecount+' like':''}}</span><span ng-show="item.likecount > 1" class="subdued">{{item.likecount>0?item.likecount+' likes':''}}</span>-->
        <!--        </i>-->
        <!--    </ion-item>-->
        <!--  </div>-->
        <!--</div>-->

        <ion-infinite-scroll on-infinite="wall.loadMoreItems()" distance="1%" ng-if="hasMoreData" immediate-check="false"></ion-infinite-scroll>
        <!--<div id="mydata"></div>-->
    </ion-content>
    <div class="tabs tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-ios-list energized "></i>
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-game-controller-b-outline"></i>
        </a>
        <a class="tab-item">
          <i class="icon ion-paper-airplane energized"></i>
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-chatboxes-outline"></i>
        </a>
        <a class="tab-item">
          <i class="icon ion-ios-person-outline"></i>
        </a>
    </div>
</ion-view>