a.item-content {
    height: 45px;
}
.item-icon-right .icon {
    font-size: 14px;
}

ion-item.item.item-divider {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 15px;
    max-height: 20px;
}

#wall-topic-divider {
    height: 5px;
    background-color: #f8f8f8;
}

ion-item#wall-comment.item {
    background-color: #f8f8f8;
}